/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
* {
  margin : 0;
  /* font-family: 'Acme', sans-serif; */
  font-family: 'Archivo', sans-serif;
}

::-webkit-scrollbar {
	width : 10px;
}

::-webkit-scrollbar-track {
	border-radius : 10px;
}

::-webkit-scrollbar-thumb {
	background : #4d4d4d;
	border-radius : 10px;
} 

.app {
	background: #160d10;
	color : #fff;
}